.create_new_list {
    background-image: url(https://i.ibb.co/M93mR4p/add-list.png);
    min-height: 33px;
    min-width: 180px;
    padding-left: 32px;
    margin-right: 30px;
    border-radius: 5px;
    border: none;
    background-repeat: no-repeat;
    background-position: 6px center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
}